/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-image: url(images/Strahov-library.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Handlee", cursive;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.heading {
  padding: 10px 40px;
  padding-bottom: 20px;
  border: 5px solid black;
  border-radius: 50%;
  text-align: center;
  font-family: "Patrick Hand", cursive;
  font-size: 40px;
  font-weight: 900;
  background: rgb(137, 84, 62);
  color: rgb(255, 240, 214);
}

.btn-new-book {
  display: block;
  margin: 30px auto;
  padding: 20px 40px;
  border: 5px solid black;
  border-radius: 32px;
  font-family: "Handlee", cursive;
  font-size: 24px;
  font-weight: 600;
  background: rgb(137, 84, 62);
  color: rgb(255, 240, 214);
  cursor: pointer;
}

.btn-new-book:hover {
  background: rgb(83, 52, 38);
}

.button {
  display: none;
}

form {
  display: none;
}

.form {
  width: 80%;
  max-width: 500px;
  margin: 30px auto;
  padding: 40px;
  border: 5px solid black;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  font-weight: 600;
  background: rgb(137, 84, 62);
  color: rgb(255, 240, 214);
}

input {
  outline: none;
  border: none;
  border-radius: 3px;
  font-family: "Handlee", cursive;
  font-size: 20px;
  padding: 5px;
  background-color: rgb(255, 240, 214);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 240, 214) inset;
  box-shadow: 0 0 0px 1000px rgb(255, 240, 214) inset;
}

.status {
  display: flex;
  align-items: center;
  gap: 20px;
}

#status {
  border: none;
  outline: none;
  font-size: 20px;
  font-family: "Handlee", cursive;
  background-color: rgb(255, 240, 214);
}

#btn-add-book {
  width: 40%;
  min-width: 110px;
  padding-top: 8px;
  border: none;
  border-radius: 3px;
  align-self: flex-end;
  font-family: "Handlee", cursive;
  font-size: 24px;
  font-weight: 600;
  background-color: rgb(255, 240, 214);
  color: rgb(137, 84, 62);
  cursor: pointer;
}

.archive {
  width: 95%;
  margin: 0 auto;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

article {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 240, 214);
}

article h1 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

article p {
  font-size: 16px;
  line-height: 24px;
}

.btn-status {
  padding: 5px;
  border: none;
  border-radius: 3px;
  align-self: flex-start;
  color: rgb(255, 240, 214);
  font-family: "Handlee", cursive;

  font-size: 16px;
  cursor: pointer;
}

.not-read {
  background-color: rgb(255, 79, 0);
}

.read {
  background-color: rgb(41, 106, 13);
}

.btn-remove {
  padding: 5px;
  border: none;
  border-radius: 3px;
  align-self: flex-end;
  background-color: rgb(185, 14, 10);
  color: rgb(255, 240, 214);
  font-family: "Handlee", cursive;
  font-size: 16px;
  cursor: pointer;
}
