body {
   background-image: url(/images/backgroundImage.jpg);
   color: white;
   font-family: Consolas;
}

#container {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    border-collapse: collapse;
}

#title {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

#primitive,#complex {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

td {
    border: 3px solid white;
    min-width: 150px;
    padding: 5px;
}

a {
    color: violet;
}

@media only screen and (max-width: 1000px) {
    #container {
        width: 75%;
    }
}

@media only screen and (max-width: 600px) {
    #container {
        width: 95%;
    }
}