/* SIZING BASIS */
html {
  font-size: 10px;
}

/* FONT FAMILIES */
body {
  font-family: 'Lato', sans-serif;
}

.rubik {
  font-family: 'Rubik', sans-serif;
}

.open-sans {
  font-family: "Open Sans", Helvetica;
}

/* FONT SIZES */
P {
  font-size: 16px;
}

span {
  font-size: 14px;
}

.fs-1 {
  font-size: 1.4rem;
}

.fs-2 {
  font-size: 1.6rem;
}

.fs-3 {
  font-size: 1.8rem;
}

.fs-4 {
  font-size: 2rem;
}

.fs-5 {
  font-size: 2.2rem;
}

.fs-6 {
  font-size: 2.4rem;
}

/* HEADING SIZES */
.h1 {
  font-size: 4.5rem;
}

.h2 {
  font-size: 4rem;
}

.h3 {
  font-size: 3.6rem;
}

.h4 {
  font-size: 3.3rem;
}

.h5 {
  font-size: 3rem;
}

.h6 {
  font-size: 2.7rem;
}

/* FONT WEIGHT */
.fw-1 {
  font-weight: 300;
}

.fw-2 {
  font-weight: 400;
}

.fw-3 {
  font-weight: 500;
}

.fw-4 {
  font-weight: 600;
}

.fw-5 {
  font-weight: 700;
}

.fw-6 {
  font-weight: 800;
}

/* FONT STYLE */
.italic {
  font-style: italic;
}

/* LINE HEIGHT */
.lh-1 {
  line-height: 2.2rem;
}

.lh-2 {
  line-height: 2.4rem;
}

.lh-3 {
  line-height: 2.6rem;
}

.lh-4 {
  line-height: 2.8rem;
}

.lh-5 {
  line-height: 3rem;
}

.lh-6 {
  line-height: 3.2rem;
}